<footer class="w3-container w3-blue">
    <div class="w3-container w3-blue">
        <h5>No robis les imatges</h5>
        <div class="inlineDiv">
            <span>Copyright ©</span>
            <span>Made by Arnau Mas</span>
        </div>
      </div>
  </footer>